@import url("/Fonts/ClashDisplay_Complete/WEB/css/clash-display.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  background-color: transparent;
}
html {
  background-color: #0a0908;
}
#root {
  background-color: #0a0908;
}

.blur-my {
  background-color: rgba(47, 47, 45, 0.635);
  backdrop-filter: blur(30px);
}
.margee-bg {
  background: radial-gradient(
    circle,
    rgba(181, 154, 154, 0) 46%,
    rgb(27, 64, 228) 98%
  );
}
.shadowinner {
  box-shadow: inset(2px, 2px, 2px, rgb(200, 200, 203));
  background: radial-gradient(
    rgba(255, 255, 255, 0) 80%,
    rgba(210, 203, 203, 0.221) 120%
  );
}

.Satoshi {
  font-family: "ClashDisplay-Semibold";
}
.ClashDisplay-Medium {
  font-family: "ClashDisplay-Medium";
}
.ClashDisplay-light {
  font-family: "ClashDisplay-light";
}
.ClashDisplay-Extralight {
  font-family: "ClashDisplay-Extralight";
}
.ClashDisplay-bold {
  font-family: "ClashDisplay-Bold";
  font-weight: 900;
}
